<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom StyleCop Ruleset" Description="Ruleset used in team." ToolsVersion="15.0">
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0001" Action="None" />
    <Rule Id="CC0002" Action="None" />
    <Rule Id="CC0003" Action="None" />
    <Rule Id="CC0004" Action="None" />
    <Rule Id="CC0005" Action="None" />
    <Rule Id="CC0006" Action="None" />
    <Rule Id="CC0007" Action="None" />
    <Rule Id="CC0008" Action="None" />
    <Rule Id="CC0009" Action="None" />
    <Rule Id="CC0010" Action="None" />
    <Rule Id="CC0011" Action="None" />
    <Rule Id="CC0012" Action="None" />
    <Rule Id="CC0013" Action="None" />
    <Rule Id="CC0014" Action="None" />
    <Rule Id="CC0015" Action="None" />
    <Rule Id="CC0017" Action="None" />
    <Rule Id="CC0018" Action="None" />
    <Rule Id="CC0019" Action="None" />
    <Rule Id="CC0020" Action="None" />
    <Rule Id="CC0021" Action="None" />
    <Rule Id="CC0022" Action="None" />
    <Rule Id="CC0023" Action="None" />
    <Rule Id="CC0024" Action="None" />
    <Rule Id="CC0025" Action="None" />
    <Rule Id="CC0026" Action="None" />
    <Rule Id="CC0029" Action="None" />
    <Rule Id="CC0030" Action="None" />
    <Rule Id="CC0031" Action="None" />
    <Rule Id="CC0032" Action="None" />
    <Rule Id="CC0033" Action="None" />
    <Rule Id="CC0034" Action="None" />
    <Rule Id="CC0035" Action="None" />
    <Rule Id="CC0037" Action="None" />
    <Rule Id="CC0038" Action="None" />
    <Rule Id="CC0039" Action="None" />
    <Rule Id="CC0042" Action="None" />
    <Rule Id="CC0043" Action="None" />
    <Rule Id="CC0044" Action="None" />
    <Rule Id="CC0045" Action="None" />
    <Rule Id="CC0046" Action="None" />
    <Rule Id="CC0047" Action="None" />
    <Rule Id="CC0048" Action="None" />
    <Rule Id="CC0049" Action="None" />
    <Rule Id="CC0052" Action="None" />
    <Rule Id="CC0054" Action="None" />
    <Rule Id="CC0056" Action="None" />
    <Rule Id="CC0057" Action="None" />
    <Rule Id="CC0060" Action="None" />
    <Rule Id="CC0061" Action="Warning" />
    <Rule Id="CC0062" Action="None" />
    <Rule Id="CC0063" Action="None" />
    <Rule Id="CC0064" Action="None" />
    <Rule Id="CC0065" Action="None" />
    <Rule Id="CC0067" Action="None" />
    <Rule Id="CC0068" Action="None" />
    <Rule Id="CC0070" Action="None" />
    <Rule Id="CC0071" Action="None" />
    <Rule Id="CC0072" Action="Warning" />
    <Rule Id="CC0073" Action="None" />
    <Rule Id="CC0074" Action="None" />
    <Rule Id="CC0075" Action="None" />
    <Rule Id="CC0076" Action="None" />
    <Rule Id="CC0079" Action="None" />
    <Rule Id="CC0081" Action="None" />
    <Rule Id="CC0082" Action="None" />
    <Rule Id="CC0084" Action="None" />
    <Rule Id="CC0088" Action="None" />
    <Rule Id="CC0089" Action="None" />
    <Rule Id="CC0090" Action="None" />
    <Rule Id="CC0091" Action="None" />
    <Rule Id="CC0092" Action="None" />
    <Rule Id="CC0095" Action="None" />
    <Rule Id="CC0097" Action="None" />
    <Rule Id="CC0105" Action="None" />
    <Rule Id="CC0106" Action="None" />
    <Rule Id="CC0111" Action="None" />
    <Rule Id="CC0118" Action="None" />
    <Rule Id="CC0120" Action="None" />
    <Rule Id="CC0125" Action="None" />
  </Rules>
  <Rules AnalyzerId="Menees.Analyzers" RuleNamespace="Menees.Analyzers">
    <Rule Id="MEN009" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0000" Action="Warning" />
    <Rule Id="SA0001" Action="None" />
    <!-- We can live with trailing whitespaces -->
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1206" Action="None" />
    <Rule Id="SA1207" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1215" Action="Warning" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1307" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1406" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>